<a href="https://colab.research.google.com/github/haron1100/MLSummerSchool/blob/master/Session_1_Programming_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Hello world')

Hello world

In [10]:
#making two variables - every variable has a type
myvariable = 10 #this variable is an integer or int
a = 15.43 #this variable in a float, meaning it not a whole number
print('addition', myvariable+a)
print('subtraction', myvariable-a)
print('multiplication', myvariable*a)
print('division', myvariable/a)
print('raise to a power', myvariable**3)
print('type of myvariable', type(myvariable))
print('type of a', type(a))

addition 25.43
subtraction -5.43
multiplication 154.3
division 0.6480881399870383
raise to a power 1000
type of myvariable <class 'int'>
type of a <class 'float'>

In [17]:
mystring = "this is a sentence." # string type also sometimes shortened to str
secondstring = "sentence two"

print(mystring)
print('addition', mystring+secondstring)
print('multiply', mystring*3)
print('type of mystring', type(mystring))

this is a sentence.
addition this is a sentence.sentence two
multiply this is a sentence.this is a sentence.this is a sentence.
type of mystring <class 'str'>

In [31]:
mylist = [4, 5, 'string thing', 7, 6, 'item', a, secondstring]
#indexing is inclusive of the first number and exclusive of the second number
print(mylist)
print('first item', mylist[0]) #indexing, get the first item
print('first 3 items', mylist[0:3]) #indexing, get the first 3 items
print('from start to end', mylist[:])
print('print third from last item', mylist[-3])
print('last two items', mylist[-2:]) #indexing, get the last 2 items

[4, 5, 'string thing', 7, 6, 'item', 15.43, 'sentence two']
first item 4
first 3 items [4, 5, 'string thing']
from start to end [4, 5, 'string thing', 7, 6, 'item', 15.43, 'sentence two']
print third from last item item
last two items [15.43, 'sentence two']

In [35]:
#my dictionary maps from letters to their position in the alphabet
myd = {'a':1, 'b':2, 'c':3, 'd':4} #the letters are the keys, and the numbers are the values
print(myd)
print("get the value for the a key", myd['a'])
print("get the value for the b key", myd['b'])

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
get the value for the a key 1
get the value for the b key 2

In [38]:
#boolean
mybool = True
secondbool = False
print(mybool)
print(secondbool)

True
False

In [72]:
#Operators
x = 10
y = 20
z = 10
s = 'a string'
p = 'another string'
q = 'a string'

print('x is equal to y?', x==y)
print('x is equal to z?', x==z)
print('s is equal to q?', s==q)
print('is y bigger than x?', y>x)
print('s is equal to q?', s!=q)

x is equal to y? False
x is equal to z? True
s is equal to q? True
is y bigger than x? True
s is equal to q? False

In [50]:
#if statements

x = 10
y = 9

if y>x:
    print('y is bigger')
elif y==x: #short for else if
    print('they are equal')
else:
    print('y is smaller')

if myd['a']==1:
    print('this is correct')
else:
    print('you dont know the alphabet')

y is smaller
this is correct

In [51]:
##getting input from the user
myin = input('Write something: ')
print('you wrote', myin)

Write somethingwords
you wrote words

In [61]:
##challenge. promt the user to enter the location of a letter and check if its correct
myd = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}

try: ## try do do this
    letter = input('What is your favourite letter?')
    answer = int(input('Where is '+letter+' in the alphabet?'))
    if answer==myd[letter]:
        print('You know the alphabet')
    else:
        print('You dont know the alphabet')
except Exception as e: ##if theres an error, do this
    print('You got an error')
    print(e)

What is your favourite letter?e
Where is e in the alphabet?fifth
You got an error
invalid literal for int() with base 10: 'fifth'

In [71]:
##for loops
mylist = [6, 3, 6, 9, 2, 4, 6, 8, 2, 4]
print('first way')
for mynum in range(len(mylist)):
    print(mylist[mynum])
print('second way')
for x in mylist:
    print(x)

first way
6
3
6
9
2
4
6
8
2
4
second way
6
3
6
9
2
4
6
8
2
4

In [73]:
##keep printing numbers from my list until it hits a 9
mylist = [6, 3, 6, 9, 2, 4, 6, 8, 2, 4]
idx=0
while mylist[idx] != 9:
    print(mylist[idx])
    idx+=1

6
3
6

In [81]:
##functions
def saymyname(name): #define this function, put the inputs/arguments/parameters in brackets
    #which does this suff
    print('you name is', name)

In [82]:
saymyname('bob')

you name is bob

In [83]:
def adder(num1, num2):
    return num1+num2

In [87]:
mysum = adder(10, 15)
secondsum = adder(8, 9)
print(mysum)
print(secondsum)

25
17